/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2016, 2:40:49 PM
    Author     : 985219
*/

#word{
    width: 200px;
    display: inline-block;
}
#ajaxLoading{
    display: none;
    height: 400px;
    z-index: 10000;
    /*position: relative;*/
    position: absolute;
    /*background-color: gray;  for demonstration */
}
#ajaxLoading img{
    width: 100px;

    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
}
