body{
	margin: 0;
	padding: 0;
	background-image: url("images/background.png");
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 11px;
}
.contanier{
	width: 800px;
	border: 4px solid grey;
	border-radius: 20px;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	text-align: center;
}
.header h1{
	font-size: 24px;
	font-family:Tahoma, Verdana,sans-serif;
	text-shadow: 3px 3px #999999;
}
.banner{
	background-image: url("images/bannerbg.png");
}
.rightBar{
	float: right;
	width: 250px;
	background-color: #A2B964;
}
.rightBar .overview img{
	/*border-top-right-radius: 20px;
	width: 100%;
	position: relative;*/
}
.rightBar .movieInfo dt{
	font-weight: bold;
	margin-top: 10pt;
	margin-left: 10px;
}
.rightBar .movieInfo ul{
	padding: 0;
}
.rightBar .movieInfo .links{
	list-style-type: none;
}
.leftContainer{
	width: 550px;
	/*float: left;*/
}

.leftContainer .rotten{
	background-image: url("images/rbg.png");
	background-repeat: repeat-x;
	border-top-left-radius: 5px;
	height: 83px;
	
	
}
.leftContainer .rotten img{
	border-top-left-radius: 5px;
	border:0;
	float: left;
}
.leftContainer .rotten #number{
		
	font-size: 63px;
	color: red;
	padding: 12px;
	float: left;
	
}
.clear{
	clear: left;
}
.leftContainer .col-6{
	width: 47%;
	height: auto;
	float: left;
	margin-left: 2%;
}
.reviews{			
	
	float: left;
	position: relative;
	height: auto;
	
}
.reviews .quote {
	background-color: #E8DC9B;
	border: 2px solid grey;
	border-radius: 10px;
	font-size: 8pt;
	font-weight: bold;
	
	padding: 8px;
	margin: 5px;
}
.reviews .quote img{
	display: block;
	float: left;
}
.reviews .personInfo{
	margin-bottom: 20pt;
}
.reviews .personInfo img{
	padding-right: 5px;
	display: block;
	float: left;
}
.footer{
	text-align: center;
	background-color: #A2B964;
	/*padding-top: 5px;*/
	clear: both;
}
.w3c{
	position: fixed;
	bottom: 0;
	right: 0;
	
}
.w3c img{
	opacity: 0.5;
}